[submodule "submodules/travis-shared-config"]
	path = submodules/travis-shared-config
	url = https://github.com/smeltery/travis-shared-config
[submodule "submodules/contrast-security-sast-travis-integration"]
	path = submodules/contrast-security-sast-travis-integration
	url = https://github.com/smeltery/contrast-security-sast-travis-integration
[submodule "submodules/create-tagged-releases"]
	path = submodules/create-tagged-releases
	url = https://github.com/smeltery/create-tagged-releases
[submodule "submodules/base-images-blueprint"]
	path = submodules/base-images-blueprint
	url = https://github.com/smeltery/base-images-blueprint
[submodule "submodules/boilerplate-technical-documentation"]
	path = submodules/boilerplate-technical-documentation
	url = https://github.com/smeltery/boilerplate-technical-documentation
[submodule "submodules/appscan-sast-travis-integration"]
	path = submodules/appscan-sast-travis-integration
	url = https://github.com/smeltery/appscan-sast-travis-integration
[submodule "submodules/image-signing-travis-example"]
	path = submodules/image-signing-travis-example
	url = https://github.com/smeltery/image-signing-travis-example
